* {
	border: none;
	border-radius: 0;
	font-family: jetbrains mono nerd font;
	font-size: 12px;
	padding: 2px;
	margin: 0;
}

window#waybar,
#clock,
#cpu,
#memory,
#battery,
#pulseaudio,
#tray,
#workspaces button{
	background: transparent;
	color: white;
	border-bottom: 2px solid transparent;
}

#workspaces button:hover {
    background: transparent;
    box-shadow: inherit;
}

#workspaces button.focused {
	background: transparent;
	color: #f5a191;
	border-bottom: 2px solid;
}

#pulseaudio.muted {
	opacity: 0.5;
}

#battery {
	color: white;
}

#battery.charging {
	/* color: green; */
	color : #90b99f;
}

#battery.warning {
	/* color: red; */
	color : #f5a191;
}
